altgraph==0.17.4
annotated-types==0.7.0
anyio==4.9.0
asttokens==2.4.1
asyncio==3.4.3
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
executing==2.0.1
fastapi==0.115.12
fire==0.7.0
h11==0.16.0
icecream==2.1.3
idna==3.10
packaging==24.1
playfab==0.0.201014
pydantic==2.11.5
pydantic_core==2.33.2
pygame==2.6.1
Pygments==2.17.2
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
randomname==0.2.1
requests==2.32.3
screeninfo==0.8.1
setuptools==75.3.0
six==1.16.0
sniffio==1.3.1
starlette==0.46.2
termcolor==3.1.0
toolz==1.0.0
typing-inspection==0.4.1
typing_extensions==4.13.2
urllib3==2.4.0
uvicorn==0.34.3
